body{
    margin: 0;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #FAFAFF;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in;
}
/* @media (min-width: 800px){
    #wrapper{
        margin-right: calc(100vw - 540px);
    }
} */
#wrapper{
    width: 95vw;
    max-width: 540px;
}

h1{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 0;
}
h2{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight:normal;
    font-size: 24px;
    color: black;
    margin: 0;
    line-height: 150%;
}
h3{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}
h4{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight:normal;
    font-size: 20px;
    color: black;
    margin: 0;
    line-height: 140%;
}
p{
    font-family: 'Zen Antique', 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    line-height: 200%;
    margin: 30px 0 30px calc(5% + 4px);
    width: 60%;
}
p a{
    text-decoration: none;
    color: #346cda;
    transition: color 0.25s;
}
p a:hover{
    color: #6196ff;
}
p a:active{
    color: #d4e2ff;
}

::selection{
    background-color: #fff5f0;
    text-decoration: none;
}
::-moz-selection{
    background-color: #fff5f0;
    text-decoration: none;
}


#top-text-container{
    margin: 25px 0 20px calc(5% + 4px);
    width: calc(90% - 4px);
    position: relative;
    user-select: none;
}
#top-text{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}
#home-button{
    color: black;
    text-decoration: none;
    transition: color 0.25s;
    cursor: pointer;
    transition: color 0.25s;
}
#home-button:hover{
    color: rgba(0, 0, 0, 0.7);
}
#menu-button{
    color: #346cda;
    transition: color 0.25s, opacity 0.25s linear;
}
.menu-button-inactive{
    cursor: zoom-in;
}
.menu-button-active{
    cursor: zoom-out;
}
#menu-button:hover{color: #6196ff;}
#menu-button:active{color: #d4e2ff;}

img{
    width: 100%;
    user-select: none;
}

.shadow-img{
    width: 90%;
    height: auto;
    margin: -2px 0 0 calc(-2px + 5%);
    border: 2px solid black;
    box-shadow: 4px 4px #222222;
    position: relative;
    z-index: 10;

    transition: margin 0.2s, box-shadow 0.2s;
}
.si-hover:hover{
    margin: -4px 0 2px calc(-4px + 5%);
    box-shadow: 8px 8px #222222;
}
#menu-img{
    display: inline-block;
}
#menu-img img{
    display: block;
}
#menu{
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff5f0;
    transition: opacity 0.25s;
}
#menu-column-1{text-align: left;}
#menu-column-2{text-align: right;}
.menu-link{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #346cda;
    transition: color 0.25s;
    padding: 20px 30px 20px 30px;
}
.menu-link:hover{color: #6196ff;}
.menu-link:active{color: #d4e2ff;}

.menu-visible{opacity: 1;}
.menu-hidden{opacity: 0;}
.menu-disabled{display: none;}
.menu-enabled{display: flex;}

.intro-text{
    margin: 40px 0 0 calc(5% + 4px);
}
.intro-link{
    color: #ee9700;
    text-decoration: underline;
    transition: color 0.25s;
    cursor: pointer;
}
.intro-link:hover{color: #ffb83c;}
.intro-link:active{color: #ffe2b0;}

.content-card{
    margin-top: 50px;
}
.content-card a{
    cursor: ne-resize;
}
.content-catagory{
    margin: 12px 0 0 calc(5% + 4px);
    user-select: none;
}
.content-title{
    margin: 8px 0 12px calc(5% + 4px);
    user-select: none;
}
.content-line{
    width: 80px;
    margin-left: calc(5% + 4px);
    border-top: 1px solid black;
    transition: width 0.3s;
}
.content-line-hover{
    width: calc(61.8%);
}
.space{
    margin-top: 80px;
}
.filter-link{
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    margin: 38px 0 38px 0;
    transition: none;
    user-select: none;
    width: auto;
}
.filter-active{
    background-color: #346cda;
    color: #fff5f0;
}
.filter-active:hover{
    color: #ffe8dc;
}
.filter-active:active{
    color: #ffc052;
}



#links-container{
    margin: 65px 0 65px calc(5% + 4px);
}
.bottom-link{
    color: black;
    text-decoration: none;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight:normal;
    font-size: 24px;
    display: block;
    margin-bottom: 35px;
    user-select: none;
}
.bl-span{
    color: rgb(255, 75, 75);
    transition: color 0.3s, padding 0.3s;
}
.bl-hover{
    color: rgb(255, 135, 135);
    padding-left: 6px;
}
.bl-active{
    padding-left: 60px;
}



/* bar across top of screen which progressively widens */
#progress-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #222222;
    z-index: 2000;
    /* transition: width 0.1s; */
}





/* TOOLTIP */

/* this is for the images that have tooltips */
@media (hover:hover){
    .tooltip-span{text-decoration: underline;}
}

/* this is the tooltip itself */
#tooltip{
    background-color: #FAFAFF;
    color: black;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 4px;
    border: 2px solid black;
    pointer-events: none;
    white-space: nowrap;
    top: 110vh;
    left: 110vw;
}
/* this is applied when hovering over a tooltip-img */
.tooltip-active{
    display: block;
    position: fixed;
    z-index: 10000;
}
/* this is the default state when tooltip is inactive */
.tooltip-inactive{
    display: none;
}




/* animation class to fade an element in */
.fadeIn{
    
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;

    -webkit-animation-timing-function: linear-in;
    -moz-animation-timing-function: linear-in;
    -ms-animation-timing-function: linear-in;
    animation-timing-function: linear-in;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;

    opacity: 1;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-ms-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}