html{
    overflow: hidden;
}
body{
    margin: 5vh 0 0 2vw;
    width: 96vw;
    height: 90vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 90vh 10px 1fr;
}


/* IMG CONTAINER */

#img-container img{
    width: 100%;
    background-color: black;
}



/* CAPTION CONTAINER */

#cart-text-container{
    width: 100%;
    max-width: 140px;
}

.cart-text{
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 24px;
}

#caption-container{
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    height: 360px;
    grid-column: 2;
    display: grid;
    border-top: 1px solid black;
    grid-template-columns: auto 1fr;
}
#caption-container p{
    margin: 0;
    margin-top: 4px;
    padding: 0;
    width: auto;
    padding-right: 12px;
}

.cart-link{
    text-decoration: none;
    color: unset;
    margin-bottom: 24px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    cursor: pointer;
    max-width: 140px;

    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;

    touch-action: manipulation;
}
.cart-link:hover{
    background-color: black;
    color: white;
}
.cart-link:visited{
    background: none;
    color: unset;
}

/* STATEMENT */

#statement-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
}
#statement-text{
    margin: 10vh 0vw 10vh 5vw;
    padding-right: 5vw;
    width: 90vw;
    height: 80vh;
    color: white;
    text-align: left;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Courier New', Courier, monospace;
}
#statement-text p{
    margin-bottom: 1em;
}




/* so if the aspect ratio is wider than 16/9 then
img width is dictated by height
and if the aspect ratio is narrower than 16/9 then
img width is dictated by width */



@media (max-aspect-ratio : 4/3){
    body{
        grid-template-columns: 90vh 10px 1fr;
    }
}
@media (max-aspect-ratio : 8/7){
    body{
        grid-template-columns: 80vh 10px 1fr;
    }
}
@media (max-aspect-ratio : 1/1){
    body{
        grid-template-columns: 70vh 10px 1fr;
    }
}
@media (max-aspect-ratio : 6/7){
    body{
        display: block;
    }
    #cart-text-container{
        max-width: unset;
        display: grid;
        grid-template-columns: 260px 1fr 90px;
    }
    #caption-container{
        height: 90px;
        max-width: 260px;
        grid-column: 1;
        border-top: none;
    }
    #caption-container p{
        margin-top: 0;
    }
    #imgCount{
        grid-column: 2;
        text-align: center;
    }
    #cart-prev{
        grid-column: 3;
        text-align: right;
        height: 16.5px;
        margin: 0;
        margin-top: -78px;
    }
    #cart-next{
        grid-column: 3;
        text-align: right;
        margin: 0;
        height: 16.5px;
    }
    #cart-back{
        grid-column: 3;
        text-align: right;
        margin-top: -4px;
    }
    #cart-statement{
        grid-column: 3;
        text-align: right;
        height: 16.5px;
        margin: 0;
        margin-top: -40px;
    }

}