html{
    overflow: hidden;
}
body{
    margin: 5vh 0 0 2vw;
    width: 96vw;
    height: 90vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 135vh 10px 1fr;
}


/* IMG CONTAINER */

#img-container img{
    width: 100%;
}



/* CAPTION CONTAINER */


#caption-container{
    width: 100%;
    max-width: 140px;
    height: 80px;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 1fr;
}
#caption-container p{
    margin: 0;
    padding: 0;
    width: auto;
    border-top: 2px solid black;
    padding-right: 12px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

#curbside-statement, #curbside-next, #curbside-prev, #imgCount{
    margin-top: 40px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    /* border-left: 2px solid black; */
    display: block;
    cursor: pointer;
    max-width: 140px;
}


/* STATEMENT */

#statement-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
}
#statement-text{
    margin: 10vh 0vw 10vh 5vw;
    padding-right: 5vw;
    width: 90vw;
    height: 80vh;
    color: white;
    text-align: left;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Courier New', Courier, monospace;
}
#statement-text p{
    margin-bottom: 1em;
}




/* NAVBAR */

/* #navbar{
    width: 100%;
    height: auto;
}
#navbar a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: unset;
    cursor: pointer;
    line-height: 1em;
} */

/* @media (max-height: 650px){
    #img-container{
        
    }
} */

/* so if the aspect ratio is wider than 16/9 then
img width is dictated by height
and if the aspect ratio is narrower than 16/9 then
img width is dictated by width */

/* @media (max-aspect-ratio : 16/9){
    #curbside-container{
        display: grid;
        grid-template-rows: auto auto;
    }
    #img-container{
        width: 90vw;
        height: 60vw;
    }
    #caption-container p{
        font-size: 0.9em;
    }
} */