/*

TEMPLATE

<header id="header" style="background-image: url('stories/STORY/1.jpg');">
		<div id="titleText" style="
			padding-top: TOPpx;
			padding-bottom: BOTpx;
			color: COL;">
			<h1>TITLE</h1>
			<h4>DATE</h4>
		</div>
	</header>
	<br><br>



*/

#header{
	background-position: top center;
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 140px;
	margin: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

#titleText{
	width: 100%;
	min-width: 300px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: black;
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 1;
}

#titleText h1{
	font-weight: 1;
	line-height: 48px;
}

#titleText h4{
	font-weight: 1;
}