body{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
    background-color:ghostwhite;
}

#main{
    width: 100vw;
    height: auto;
    display: block;
}
.navbar{
    width: 90vw;
    margin: 30px 0 30px 5vw;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
} .navbar a{
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: unset;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    pointer-events: none;
}



/* #name{
    position: fixed;
    top: 80px;
    right: 5vw;
    font-size: 4em;
    text-align: right;
    margin-top: 10vh;
}
#name p{
    border-bottom: 8px solid rgb(95, 120, 145);
    height: 0.93em;
    padding-right: 0.4em;
    padding-left: 4px;
} */


#footer{
    margin-left: 5vw;
    width: 90vw;
    height: 4vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto 1fr;
    margin-bottom: 10px;

} #footer p, #footer a{
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    grid-row: 2;
    padding: 8px;
}
#footer a:hover{
    color: rgb(255, 140, 140);
}
#footer-left{text-align: left;}
#footer-main{text-align: center;}
#footer-right{text-align: right;}


.gallery-link-desktop{
    height: 0.93em;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 4em;
    overflow-y: visible;
    border-bottom: 8px solid rgb(255, 140, 140);
    display: inline-block;
} .gallery-link-desktop:hover{
    color: slategrey;
    cursor: pointer;
}
.gallery-caption-desktop{
    margin: 0;
    padding: 0;
    border-top: 2px solid black;
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.spacer{
    height: 20px;
}




/* WORKS */


#works-card{
    margin-left: 5vw;
    width: 90vw;
}
#works-card-mobile{
    margin-left: 5vw;
    width: 90vw;
    display: none;
}
#works-caption-container{
    margin-left: 5vw;
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* display: none; */
}
#works-link{
    padding-right: 4px;
    /* border-bottom-color: tomato; */
    border-bottom-color: rgb(51, 201, 116);
}
#works-caption{
    text-align: right;
    padding-left: 8px;
    margin-bottom: -8px;
}

#projects-text{
    margin-left: 5vw;
    width: 90vw;
}





/* OLD HORIZONS */


#old-horizons-desktop{
    width: 90vw;
    margin: 4vw 0 0 0;
    padding: 4vw 5vw 0 5vw;
    height: auto;
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}
#oldhoriz-link{
    text-align: left;
    padding-right: 2px;
    margin-bottom: 20px;
} #oldhoriz-link:hover{
    color: rgb(118, 118, 134);
}
#oldhoriz-caption{
    padding-right: 8px;
    text-align: left;
    margin-bottom: 8px;
    max-width: 370px;
}



/* SIMPLEST FORMS */


#simplest-forms-desktop{
    width: 90vw;
    margin: 20vw 0 0 0;
    padding: 4vw 5vw 4vw 5vw;
    height: auto;
    background-color: lavender;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}
#simpforms-link{
    text-align: left;
    padding-right: 2px;
    margin-bottom: 20px;
    margin-top: -12px;
} #simpforms-link:hover{
    color: rgb(126, 109, 114);
}
#simpforms-caption{
    padding-left: 8px;
    text-align: right;
    margin-bottom: 8px;
    max-width: 360px;
}


/* ADRIFT */

#adrift-desktop{
    width: 90vw;
    height: 45vw;
    margin: 4vw 0 0vw 5vw;
    background-image: url(adrift/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#adrift-link{
    width: 3.5em;
    margin-left: calc(90vw - 3.5em);
    margin-top: 0.5em;
    color: snow;
    border-bottom-color: rgb(140, 153, 166);
}
#adrift-link:hover{
    color: rgb(216, 210, 210);
}


/* FILM */


#curbside-desktop{
    width: 90vw;
    height: 60vw;
    margin: 4vw 0 0vw 5vw;
    background-image: url('curbside/film2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 75%;
    display: grid;
    grid-template-columns: auto;
}
#curbside-link{
    width: 4.5em;
    color: rgb(247, 247, 247);
    border-bottom-color: rgb(255, 183, 0);
    border-bottom-color: rgb(237, 0, 0);
    transform: rotate(7deg);
    margin-left: 35%;
    margin-top: 6%;
}
#curbside-link:hover{
    color: rgb(255, 220, 220);
}
#curbside-text{
    color: rgb(247, 247, 247);
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-left: 35%;
    margin-top: -15%;
    transform: rotate(-1deg);
}




/* MINI GALLERY */


#mini-gallery-desktop{
    background-color: linen;
    margin-top: 12vw;
    padding-top: 8vw;
    padding-bottom: 4vw;
}




/* STILLWATER */


#stillwater-desktop{
    margin-top: 4vw;
    margin-left: 5vw;
    width: 90vw;
    height: 40vw;
    background-image: url('huzzah/stillwater.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 100%;
}
#stillwater-link{
    float: left;
    border-bottom-color: slategrey;
    color: white;
    padding-left: 40px;
    padding-right: 4px;
    margin-top: 20px;
} #stillwater-link:hover{
    color: rgb(233, 245, 255);
}




/* PIZZA */


#pizza-desktop{
    margin-top: 4vw;
    margin-left: 5vw;
    width: 90vw;
    display: grid;
    grid-template-columns: 35vw 55vw auto;
}
#pizza-link{
    margin-left: -220px;
    color: ghostwhite;
    border-bottom-color: rgb(255, 183, 0);;
    padding-left: 4px;
    margin-top: 8px;
}#pizza-link:hover{
    color: rgb(255, 245, 217);
}
#all-works-container{
    border-right: 4px solid black;
    margin-right: 20px;
    height: 55%;
}
#all-works-link{
    display: inline-block;
    padding-bottom: 4vw;
}
#all-works-link:hover{
    color: rgb(27, 80, 50);
}
#all-works-link p{
    border-bottom-color: rgb(51, 201, 116);
    display: inline-block;
}
#all-works-link p:hover{
    color: rgb(27, 80, 50);
}



/* CART */


#cart-desktop-container{
    margin-top: 4vw;
    margin-left: 5vw;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}
#cart-desktop{
    background-image: url('cart/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#cart-link{
    color: white;
    border-bottom-color: tomato;
    display: inline-block;
    padding-right: 4px;
    padding-left: 40px;
    margin-top: 20px;
} #cart-link:hover{
    color: rgb(255, 229, 223);
}






/* WILDLIFE */


#wildlife-desktop{
    margin-top: -16vw;
    margin-left: 5vw;
    width: 90vw;
    display: grid;
    grid-template-columns: 5fr 20px 2fr;
}
#wildlife-link-container{
    background-image: url('wildlife/fox1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:auto 1fr;
    grid-template-rows: 1fr auto;
}
#wildlife-link{
    text-align: right;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 40px;
    padding-right: 4px;
    padding-left: 32px;
    color: white;
    border-bottom-color: sienna;
    border-bottom-color: goldenrod;
}
#wildlife-link:hover{
    color: rgb(255, 231, 213);
}





/* ACCIDENTALS */


#accidentals-desktop{
    margin-top: 4vw;
    margin-left: 5vw;
    margin-bottom: -35vw;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 4px 1fr 4px 1fr 4px 1fr 4px 1fr;
}
#accidentals-link{
    margin-left: -410px;
    padding-left: 4px;
    margin-top: 20px;
    color: ghostwhite;
    border-bottom-color: yellowgreen;
} #accidentals-link:hover{
    color: rgb(237, 255, 202);
}






@media (max-width: 1080px){
    .gallery-link-desktop{
        font-size: 3em;
    }
    #pizza-link{
        margin-left: -160px;
        margin-top: 4px;
    }
    #accidentals-link{
        margin-left: -310px;
        margin-top: 0;
    }
    #curbside-text{
        font-size: 1em;
    }
    #stillwater-link, #cart-link{
        padding-left: 24px;
        margin-top: 0;
    }
    #wildlife-link{
        padding-left: 24px;
        margin-bottom: 24px;
    }
    #footer{
        height: 5vw;
    }
    #footer p{
        font-size: 0.7em;
    }
}
@media (max-width: 820px){
    .gallery-link-desktop{
        font-size: 2em;
        height: 0.9em;
        border-bottom-width: 6px;
    }
    .gallery-caption-desktop{font-size: 0.8em;}
    #old-horizons-desktop, #simplest-forms-desktop, #cart-desktop-container{
        grid-template-columns: 1fr 8px 1fr;
    }
    #wildlife-desktop{
        grid-template-columns: 5fr 8px 2fr;
    }
    #all-works-container{
        margin-right: 8px;
    }
    #curbside-text{
        font-size: 0.8em;
    }
    #oldhoriz-link, #simpforms-link{
        margin-bottom: 8px;
    }
    #pizza-link{
        margin-left: -100px;
    }
    #accidentals-link{
        margin-left: -200px;
    }
    #stillwater-link, #cart-link{
        padding-left: 16px;
    }
    #wildlife-link{
        padding-left: 16px;
        margin-bottom: 12px;
    }
    .spacer{
        height: 8px;
    }
    #footer{
        height: 6vw;
    }
    #footer p{
        font-size: 0.6em;
    }
}
@media (max-width: 560px){
    .gallery-link-desktop{
        font-size: 1.4em;
        height: 0.92em;
        border-bottom-width: 4px;
    }
    #curbside-text{
        display: none;
        font-size: 0.7em;
        margin-top: -58px;
    }
    #oldhoriz-caption, #simpforms-caption{
        display: none;
        font-size: 0.4em;
        margin-top: 0;
    }
    #oldhoriz-link, #simpforms-link, #pizza-link{
        font-size: 1.3em;
    }
    #pizza-link{
        margin-left: -70px;
    }
    #accidentals-link{
        margin-left: -145px;
    }
    #stillwater-link{
        padding-left: 8px;
        height: 0.95em;
    }
    #cart-link{
        padding-left: 8px;
        height: 0.94;
    }
    #wildlife-link{
        padding-left: 8px;
        margin-bottom: 8px;
    }
    .spacer{
        height: 4px;
    }
    #works-caption{
        display: none;
    }
    #footer{
        height: 8vw;
    }
    #footer p, #footer a{
        font-size: 0.5em;
    }
}






/* ANIMATIONS */




.fadeIn{
    opacity: 0;

    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-ms-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}