/*



NAVBAR & DROPDOWN HTML / UNDER BODY

<div id="navbar">

		<div id="nameContainer">
			<p class="duncanpetrie">Duncan Petrie</p>
			<p class="photography">PHOTOGRAPHY</p>
		</div>

		<div id="linkContainer">
			<ul>
				<a id="navbar1" href="stories.html#featured">Stories |</a>
				<a id="navbar2" href="mailto:duncanpetrie1@gmail.com"> Email |</a>
				<a id="navbar3" href="https://www.instagram.com/probablyduncan/">Instagram |</a>
				<a id="navbar4" href="stories.html">Stories</a>
			</ul>
		</div>

	</div>

————————————————————————————————————CSS——————————————————————————————————

	TOP NAV BAR
*/

#navbar{
	margin: 0;
	background: black;
	position: fixed;
	width: 100%;
	overflow: hidden;
	padding: 0px 10%;
	font-family: Arial;
	font-weight: 1000;
	font-size: 1em;
	line-height: 0.4em;
	letter-spacing: 1px;
	color: black;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	opacity: 0.9;
	z-index: 1000;
}

#nameContainerLink{
	padding: 0px;
}

#nameContainer{
	text-align: left;
	/* width: 160px; */
	float: left;
	font-family: Arial;
	font-weight: 1000;
	font-size: 1em;
	line-height: 0.4em;
	letter-spacing: 1px;
}

#navbar .duncanpetrie {
	color: rgba(213 75 75);
}

#navbar .photography {
	color: white;
}

#navbar ul{
	/* width: 305px; */
	float: right;
}

#navbar a{
	font-size: 1em;
	float: left;
	padding-left: 10px;
	display: inline;
	list-style: none;
	line-height: 2em;
	text-align: center;
	color: white;
	text-decoration: none;
}

#navbar a:hover{
	color: rgb(213 75 75);
}

@media (min-width: 631px){
	ul #navbar4{
		display: none;
	}
}

@media (max-width: 630px){
	#navbar ul #navbar1, #navbar ul #navbar2, #navbar ul #navbar3{
		display: none;
	}

	#navbar ul{
		/* width: 70px; */
	}
}