html{
    overflow: hidden;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
img{
    width: 100%;
}

#horiz-scroll-container{
    width: auto;
    height: 100vh;
    padding-left: 10vw;
    overflow-x: scroll;
    /* overflow-y: inherit; */
    display: flex;
    flex-flow: row;
    scroll-snap-type: x mandatory;
}
#horiz-title{
    position: fixed;
    left: 10vw;
    top: 15.5vh;
    padding-left: 32px;
    font-size: 4em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    height: 0.93em;
    border-bottom: 8px solid rgb(255, 205, 155);
    border-bottom-color: rgb(50, 85, 115);
}
#instructions, #instructions-mobile{
    text-align: center;
    border-top: none;
    color: darkgrey;
}
#nav-desktop, #nav-mobile{
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: fixed;
    left: 10vw;
    top: 30px;
    width: 80vw;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
#nav-desktop a, #nav-mobile a{
    text-decoration: none;
    color: unset;
    cursor: pointer;
    height: 1em;
    width: 6em;
    user-select: none;
    touch-action: manipulation;
}
#nav-desktop a:hover, #nav-mobile a:hover{
    color: white;
    background-color: black;
}
#statement-container{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1;
}
#statement{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
    padding-right: 5vw;
    color: white;
    text-align: left;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Courier New', Courier, monospace;
}

.caption{
    margin: 0;
    padding: 0;
    padding-right: 8px;
    padding-top: 4px;
    margin-top: 4px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2em;
    border-top: 1px solid black;
    color: rgb(100, 100, 100);
}
.caption-container{
    display: grid;
    grid-template-columns: auto 1fr;
}
.caption-container-right{
    display: grid;
    grid-template-columns: 1fr auto;
}
.caption-container-right .caption{
    grid-column: 2;
    text-align: right;
    padding-right: 0;
    padding-left: 8px;
}
.caption-container-above{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    height: 20vh;
}
.caption-container-above .caption{
    padding-top: 0;
    padding-bottom: 4px;
    grid-row: 2;
    grid-column: 1;
    border-top: none;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

.img-container-horiz{
    margin-right: 20px;
    display: inline;
    scroll-snap-align: start;
    scroll-margin-left: 20px;
    scroll-snap-margin-left: 20px;
}
.img-container-horiz img{
    width: 90vh;
}
.img-container-vert{
    margin-right: 20px;
    display: inline;
    scroll-snap-align: start;
    scroll-margin-left: 20px;
    scroll-snap-margin-left: 20px;
}
.img-container-vert img{
    width: 50vh;
}

.text-container{
    height: 36vh;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 8px;
    margin-top: 50vh;
    display: block;
    scroll-snap-align: start;
    scroll-margin-left: 20px;
    scroll-snap-margin-left: 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.text-container p{
    padding: 0;
    margin: 0;
    width: 500px;
    font-size: 1em;
    line-height: 2em;
    font-family: 'Courier New', Courier, monospace;
}

/* OLD */
#cont1{
    scroll-margin-left: 10vw;
    scroll-snap-margin-left: 10vw;
    margin-top: 13vh;
}
#cont2{
    margin-top: 31vh;
}#cont2 img{width: 69vh;}
#cont3{
    margin-top: 27.2vh;
}
#cont4{
    height: 260px;
}

/* ISLAND */
#cont5{
    margin-top: 19.7vh;
}
#cont6{
    margin-top: 2vh;
}
#cont7{
    margin-top: 19vh;
}
#cont8{
    margin-top: 31vh;
}#cont8 img{width: 69vh;}
#cont9{
    margin-top: 19.8vh;
}
#cont10{
    height: 235px;
}

/* STORM */
#cont11{
    margin-top: 20.2vh;
}
#cont12{
    margin-top: 18.4vh;
}
#cont13{
    margin-top: 10.8vh;
}
#cont14{
    margin-top: 21vh;
}
#cont15{
    margin-top: 15.5vh;
}
#cont16{
    height: 115px;
}

/* FIRE */
#cont17{
    margin-top: 27.5vh;
}
#cont18{
    margin-top: 27.5vh;
}#cont18 img{width: 45vh;}
#cont19{
    margin-top: 6.3vh;
}
#cont20{
    margin-top: 13vh;
}
#cont21{
    margin-top: 27.2vh;
}#cont21 img{width: 45vh;}
#cont22{
    height: 200px;
}

/* COPPER */
#cont23{
    margin-top: 25.2vh;
}
#cont24{
    margin-top: 5.4vh;
}
#cont25{
    margin-top: 24.6vh;
}
#cont26{
    margin-top: 18vh;
}
#cont27{
    height: 110px;
}

/* FAL */
#cont28{
    margin-top: 29.4vh;
}#cont28 img{width: 40vh;}
#cont29{
    margin-top: 38.4vh;
}#cont29 img{width: 40vh;}
#cont30{
    margin-top: 27.8vh;
}

@media (max-height: 560px){
    #horiz-title{
        font-size: 2em;
        border-bottom-width: 4px;
    }
    .caption{
        font-size: 0.8em;
    }
    .text-container p{
        font-size: 0.8em;
    }
    #cont4{height: 185px;}
    #cont10{height: 160px;}
    #cont16{height: 90px;}
    #cont22{height: 140px;}
    #cont27{height: 65px;}
    #cont4, #cont10, #cont16, #cont22, #cont27{margin-top: 35vh;}
}

/* 
    I need to change the width of horiz/vert image and text containers
    Also adjust the margins, in terms of vw
    I need to change the text containers' heights based on the new widths
    I think that's it actually but idk
*/


@media (orientation: portrait){
    #horiz-title{
        font-size: 2em;
        border-bottom-width: 4px;
        height: 0.95em;
        top: 24vw;
    }
    .img-container-horiz img{
        width: 80vw;
    }
    .img-container-vert img{
        width: 70vw;
    }
    .caption-container-above{
        height: 35vw;
    }
    .text-container{
        margin-top: 53.3vw;
    }
    .text-container p{
        width: 80vw;
    }
    #cont4, #cont10, #cont16, #cont22, #cont27{margin-top: 53.3vw;}


    /* OLD */
    #cont1{
        scroll-margin-left: 10vw;
        scroll-snap-margin-left: 10vw;
        margin-top: 20.6vw;
    }
    #cont2{
        margin-top: 19.6vw;
    }#cont2 img{
        width: 60vw;
    }
    #cont3{
        margin-top: 32.9vw;
    }
    #cont4{
        height: 380px;
    }

    /* ISLAND */
    
    #cont5{
        margin-top: 26.5vw;
    }
    #cont6{
        margin-top: 11.2vw;
    }
    #cont7{
        margin-top: 26vw;
    }
    #cont8{
        margin-top: 19.6vw;
    }#cont8 img{
        width: 60vw;
    }
    #cont9{
        margin-top: 26.5vw;
    }
    #cont10{
        height: 320px;
    }

    /* STORM */
    #cont11{
        margin-top: 26.8vw;
    }
    #cont12{
        margin-top: 25.2vw;
    }
    #cont13{
        margin-top: 0.4vw;
    }
    #cont14{
        margin-top: 27.4vw;
    }
    #cont15{
        margin-top: 22.6vw;
    }
    #cont16{
        height: 170px;
    }

    /* FIRE */
    #cont17{
        margin-top: 33.1vw;
    }
    #cont18{
        margin-top: 18.1vw;
    } #cont18 img{width: 70vw;}
    #cont19{
        margin-top: 14.8vw;
    }
    #cont20{
        margin-top: 20.4vw;
    }
    #cont21{
        margin-top: 18.3vw;
    } #cont21 img{width: 70vw;}
    #cont22{
        height: 290px;
    }

    /* COPPER */
    #cont23{
        margin-top: 31.3vw;
    }
    #cont24{
        margin-top: 14.2vw;
    }
    #cont25{
        margin-top: 31.3vw;
    }
    #cont26{
        margin-top: 25vw;
    }
    #cont27{
        height: 140px;
    }

    /* FAL */
    #cont28{
        margin-top: 17.5vw;
    } #cont28 img{width: 70vw;}
    #cont29{
        margin-top: 34vw;
    } #cont29 img{width: 70vw;}
    #cont30{
        margin-top: 34vw;
    }

}


@media (min-aspect-ratio: 2/3) and (max-aspect-ratio: 1/1){
    .img-container-vert img{
        width: 40vw;
    }
    #cont4{
        height: 370px;
    }
    #cont10{
        height: 310px;
    }
    #cont18 img, #cont21 img, #cont28 img, #cont29 img{
        width: 40vw;
    }
    #cont18, #cont21{
        margin-top: 33.3vw;
    }
    #cont28{
        margin-top: 32.6vw;
    }
    #cont29{
        margin-top: 41.7vw;
    }
    #cont30{
        margin-top: 33.5vw;
    }
}