html{
    overflow: hidden;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
img{
    width: 100%;
}

#horiz-scroll-container{
    width: auto;
    height: 100vh;
    padding-left: 10vw;
    overflow-x: scroll;
    /* overflow-y: inherit; */
    display: flex;
    flex-flow: row;
    scroll-snap-type: x mandatory;
}
#horiz-title{
    position: fixed;
    left: 10vw;
    top: 15.5vh;
    padding-left: 32px;
    font-size: 4em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    height: 0.93em;
    border-bottom: 8px solid rgb(255, 205, 155);
    border-bottom-color: rgb(50, 85, 115);
}
#instructions{
    text-align: center;
    border-top: none;
    color: darkgrey;
}
#nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: fixed;
    left: 10vw;
    top: 30px;
    width: 80vw;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
#nav a{
    text-decoration: none;
    color: unset;
    cursor: pointer;
    height: 1em;
    width: 6em;
    user-select: none;
    touch-action: manipulation;
}
#nav a:hover{
    color: white;
    background-color: black;
}
#statement-container{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1;
}
#statement{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
    padding-right: 5vw;
    color: white;
    text-align: left;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Courier New', Courier, monospace;
}

.caption{
    margin: 0;
    padding: 0;
    padding-right: 8px;
    padding-top: 4px;
    margin-top: 4px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2em;
    border-top: 1px solid black;
    color: rgb(100, 100, 100);
}
.caption-container{
    display: grid;
    grid-template-columns: auto 1fr;
}
.caption-container-right{
    display: grid;
    grid-template-columns: 1fr auto;
}
.caption-container-right .caption{
    grid-column: 2;
    text-align: right;
    padding-right: 0;
    padding-left: 8px;
}
.caption-container-above{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    height: 20vh;
}
.caption-container-above .caption{
    padding-top: 0;
    padding-bottom: 4px;
    grid-row: 2;
    grid-column: 1;
    border-top: none;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
}

.img-container-horiz{
    margin-right: 20px;
    display: inline;
    scroll-snap-align: start;
    scroll-margin-left: 20px;
}
.img-container-horiz img{
    width: 90vh;
}
.img-container-vert{
    margin-right: 20px;
    display: inline;
    scroll-snap-align: start;
    scroll-margin-left: 20px;
}
.img-container-vert img{
    width: 50vh;
}

.text-container{
    height: 36vh;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 8px;
    display: block;
    scroll-snap-align: start;
    scroll-margin-left: 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.text-container p{
    padding: 0;
    margin: 0;
    width: 500px;
    font-size: 1em;
    line-height: 2em;
    font-family: 'Courier New', Courier, monospace;
}

#cont1{
    scroll-margin-left: 10vw;
}