
/*

SIDEBAR HTML 

<div id="sidebar">
	<div id="name">
		<h1 class="duncanpetrie">Duncan Petrie</h1>
		<h1 class="photography">PHOTOGRAPHY</h1>
	</div>
	<ul id="nav">
		<li><a id="currentPage" href="stories.html">Stories &#8628</a></li>
		<li><a href="">– Cornwall</a></li>
		<li><a href="">– Heartland</a></li>
		<li><a href="">– Iceland</a></li>
		<li><a href="">– New York</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
	</ul>
</div>



	—————————————————————————CSS——————————————————————±
*/

#sidebar{
	position: fixed;
	grid-column: 1/2;
	width: 208px;
	padding-bottom: 92px;
	margin-bottom: 100px;
	padding-left: 5px;
	margin-top: 10px;
}

#name {
	margin-left: 10px;
	font-family: Arial;
	width: 100%;
	padding-bottom: 32px;
}

#sidebar .duncanpetrie {
	color: rgb(213 75 75);
	font-size: 24px;
	display: inline;
}
#sidebar .photography {
	line-height: 0;
	font-size: 24px;
}

#nav{
	padding-left: 8%;
	margin: 0;
}

#sidebar ul, a{
	list-style: none;
	text-decoration: none;
	line-height: 2em;
	color: rgb(64 64 64);
	font-size: 16px;
	font-weight: 1000px;
	padding-left: 16px;
}

#sidebar a:hover{
	color: rgb(90 140 68);
}

#sidebar a:active{
	color: rgb(213 75 75);
}

/*#currentPage{
	color: rgb(213 75 75);
}*/

.copyright{
	line-height: 1.8em;
	padding: 0px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color: #333;
	font-size: 12px;
	text-align: left;
	border-top: 1px solid black;
	margin-top: 120px;
	padding-top: 6px;
	width: 70%;
}

















