body{
    margin: 0;
    height: auto;
    background-color: #f8f8ff;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
    /* transition: opacity 0.5s; */
}

img{
    width: 100%;
    transition: transform 0.5s;
    cursor: zoom-in;
    /* pointer-events: none; */
}

a{
    text-decoration: none;
    color: unset;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

p{
    font-family: 'Palatino','Georgia','Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1.3px;
    line-height: 36px;
    text-align: left;
    margin: 0;
    padding: 0;
}

p a{
    color: rgb(255, 75, 75);
}

p a:hover{
    color: rgb(255, 140, 140);
}

h1{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 56px;
    font-stretch: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h3{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: rgb(0, 0, 0,0.7);
    margin: 0;
    padding: 0;
}


::selection{background-color: rgb(250, 174, 199);}
::-moz-selection{background-color: rgb(250, 174, 199);}



/*

        LIGHTBOX

*/

#lightbox{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
    z-index: 1000;
    cursor: zoom-out;
}
#lightbox img{
    cursor: none;
    /* pointer-events: none; */
}
#lightbox-caption{
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}



/*

        TOPBAR

*/



#top-link-container{
    width: 90vw;
    margin: 0 0 30px 5vw;
    padding-top: 30px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#top-link-container a{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.5s;
}

#top-link-insta:hover{transform: rotate(4deg);}
#top-link-about:hover{transform: rotate(-4deg);}



#top-img-container{
    background-image: url(daybreak4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    width: 90vw;
    height: 60vw;
    margin: 0 0 80px 5vw;
}

#bottom-link-container{
    margin-left: 10vw;
    margin-bottom: 80px;
}
#bottom-link-container a:hover{
    cursor: pointer;
    color: black;
}




#main-container{
    width: 85vw;
    margin-left: 10vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#who{
    margin-top: 12;
    margin-bottom: 24px;
}

#hello-and-welcome{
    margin-bottom: 36px;
}

#main-container-right{
    display: flex;
    flex-flow: row nowrap;
}

#hello-menu a:hover{
    color: black;
}




#skills-list{
    font-size: 36px;
}

#skills-list a{
    display: block;
    text-align: right;
    font-family: 'Merriweather','Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: inherit;
    cursor: pointer;
    transition: opacity 0.2s;
    padding-bottom: 1px;
}

#main-line{
    width: 4px;
    margin-left: calc(5vw - 4px);
    background-color: black;
}






/*


    CONTENT STUFF


*/

.content{
    display: none;
    margin-top: 80px;
    margin-bottom: 80px;
}

#simp{
    display: block;
}

.what{
    margin-bottom: 24px;
    text-align: left;
}

.title{
    margin-bottom: 28px;
    text-align: left;
}
.w{
    margin-bottom: 24px;
    text-align: left;
    letter-spacing: 1.1px;
}



.row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    margin-bottom: 180px;
    margin-top: 180px;
}
.rows-above{
    margin-top: 240px;
}
.rows-below{
    margin-bottom: 240px;
}
.row1{
    margin-top: 0;
}
.row-justify-right{
    justify-content: right;
}
.text-column{
    width: 400px;
}
.img-column{
    width: calc(80vw - 400px);
    margin: 0 5vw 0 5vw;
}
.img-column-img{
    position: sticky;
    top: 12vh;
    margin: -60px 0 -60px 0;
}
.img-column-img-skinny{
    margin-left: 5vw;
    margin-right: 5vw;
    width: calc(100% - 10vw);
}
.img-small{
    margin-top: 120px;
    width: calc(80vw - 400px);
    display: block;
}
.img-left{margin-left: 5vw;}
.img-right{margin-left: calc(15vw + 400px);}
.img-wide{
    width: 90vw;
    margin-top: 120px;
    margin-left: 5vw;
}



#simp-title{
    width: 105%;
}


/*

    SAY IT LOUD FLUFFY CLOUD

*/

#cloud-row1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

#cloud-row1-left{
    width: calc(90vw - 530px);
}
#cloud-row1-left img{
    margin-top: -60px;
    margin-bottom: -40px;
    position: sticky;
    top: 12vh;
}


#cloud-row1-right{
    width: 460px;
    margin-left: 70px;
}


#cloud-row2{
    margin-top: 160px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}

#cloud-row2-left{
    width: 460px;
    margin-right: 70px;
    margin-top: 40px;
}

#cloud-row2-right{
    width: calc(90vw - 530px);
}

.cloud-img-left, .cloud-img-right{
    width: calc((90vw - 530px) * .75);
    margin-top: 120px;
    display: block;
}

.cloud-img-left{
    margin-left: calc((90vw - 530px) *.25);
}
.cloud-img-right{
    margin-left: calc(100vw - (90vw - 530px));
}
.cloud-doublewide-container{
    margin-top: 120px;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.cloud-doublewide-left, .cloud-doublewide-right{
    width: 44vw;
    height: calc(88vw / 3);
}
.cloud-doublewide-right{
    margin-left: 2vw;
}

/*

        DRIFT

*/


.drift-row{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 120px;
}

#drift-row1-left{
    margin-left: 5vw;
    width: calc(85vw - 530px);
}

#drift-row1-left img{
    margin-top: -60px;
    margin-bottom: -60px;
    position: sticky;
    top: 12vh;
}

#drift-row1-right{
    width: 440px;
    margin-left: 70px;
}

#drift-row2{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 160px;
}

#drift-row2-left{
    width: 35vw;
    margin-top: 40px;
}
#drift-row2-left-img2{
    margin-top: 8vw;
}
#drift-row2-right{
    width: 35vw;
}
#drift-row2-right-img2{
    margin-top: 8vw;
}


#drift-row3{
    width: 100vw;
}

.drift-img-left, .drift-img-right{
    margin-top: 120px;
    width: 35vw;
    display: block;
    margin-left: 10vw;
}
.drift-img-right{
    margin-left: 55vw;
}

#drift-row4{
    margin-top: 120px;
    width: 80vw;
    margin-left: 10vw;
}


/*

        PIZZA

*/



#pizza-row1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

#pizza-row1-left{
    margin-left: 5vw;
}
#pizza-row1-left img{
    width: calc(85vw - 440px);
    margin-top: -60px;
    margin-bottom: -40px;
    position: sticky;
    top: 12vh;
}

#pizza-row1-right{
    width: 370px;
    margin-left: 70px;
}

#pizza-what{
    text-align: left;
}

#pizza-title{
    width: 310px;
}

#pizza-film{
    margin-top: 120px;
    margin-left: 10vw;
    width: 80vw;
}

#pizza-row2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    margin-top: 80px;
}

#pizza-caption{
    width: 460px;
    margin-left: 10vw;
}

#pizza-last-photo{
    margin-left: 70px;
}

#pizza-last-photo img{
    width: calc(85vw - 530px);
    position: sticky;
    top: 80px;
}




#cart .img-column{
    width: calc(70vw - 400px);
    margin-left: 10vw;
    margin-right: 10vw;
}