@media (max-width: 1279px){
    #bio, #cv{
        width: 440px;
    }
    #bio-section img{
        width: 360px;
        height: 450px;
    }
    #cv-section img{
        width: 360px;
        height: 202.5;
    }
}


@media (max-width: 1079px){
    #bio, #cv{
        width: 400px;
    }
    #bio-section img{
        width: 320px;
        height: 400px;
    }
    #cv-section img{
        width: 320px;
        height: 180px;
    }
    h1{
        font-size: 48px;
    }
}

@media(max-width: 979px){
    #bio, #cv{
        width: 340px;
    }
    #bio-section img{
        width: 280px;
        height: 350px;
    }
    #cv-section img{
        width: 280px;
        height: 157.5px;
    }
    #bio-text{
        text-align: left;
    }
}


@media(max-width: 829px){
    #bio-section{
        flex-flow: row-reverse wrap;
        margin-bottom: 0;
    }
    #bio{
        width: 80vw;
    }
    #bio-section img{
        width: 60vw;
        margin-right: 10vw;
        height: auto;
        margin-bottom: 40px;
        border-bottom: none;
        padding-bottom: 0;
        position: static;
    }
    #cv-section{
        flex-flow: row-reverse wrap;
    }
    #cv{
        width: 80vw;
    }
    #cv-section img{
        display: none;
        width: 60vw;
        margin-right: 20vw;
        margin-bottom: 40px;
        height: auto;
        border-bottom: none;
        padding-bottom: 0;
        position: static;
    }
}

@media(max-device-width: 829px){
    #bio-section{
        flex-flow: row-reverse wrap;
        margin-bottom: 0;
    }
    #bio{
        width: 80vw;
    }
    #bio-section img{
        width: 60vw;
        margin-right: 10vw;
        height: auto;
        margin-bottom: 40px;
        border-bottom: none;
        padding-bottom: 0;
        position: static;
    }
    #cv-section{
        flex-flow: row-reverse wrap;
    }
    #cv{
        width: 80vw;
    }
    #cv-section img{
        display: none;
        width: 60vw;
        margin-right: 20vw;
        margin-bottom: 40px;
        height: auto;
        border-bottom: none;
        padding-bottom: 0;
        position: static;
    }
}